<%= form_for @members_form, url: resource do |f| %>
  <fieldset>
    <legend><%= header %></legend>
    <%= render "user", f: f %>
    <%= render "permissions", f: f, object: @members_form %>
    <ul class="submit"><li><%= f.submit "Submit member" %></li></ul>
  </fieldset>
<% end %>