<%= form_for @admin_event_form, url: resource do |f| %>
	<fieldset>
		<legend><%= header %></legend>
		<ul>
			<li >
				<%= f.label :description, "Description" %>
				<%= f.text_area :description %>
			</li>
			<li>
				<%= f.label :date_from, "Date from" %>
				<%= f.text_field :date_from, class: 'datepicker'  %>
			</li>
			<li>
				<%= f.label :time_from, "Time from" %>
				<%= f.select :time_from, list_of_slots %>
			</li>
			<li>
				<%= f.label :time_to, "Time to" %>
				<%= f.select :time_to, list_of_slots %>
			</li>
       <li>
        <%= f.label :allow_removal, "allow removal of overlapping bookings/closures/events", class: 'widelabel' %>
        <%= f.check_box :allow_removal %>
      </li>
		</ul>
		<%= render "courts", f: f, object: @admin_event_form %>
		<ul class="submit"><li><%= f.submit "Submit event" %></li></ul>
	</fieldset>
<% end %>