<%# an if statement in a view. Needs to be refactored. Presenters are calling! %>
<%= form_for @bookings_form, remote: remote  do |f| %>
  <fieldset>
    <legend><%= header %></legend>
    <ul>
      <li>
        <%= f.label :username, "Players" %>
        <span>
          <% unless @bookings_form.persisted? %>
            <%= current_user.full_name %>
          <% else %>
            <%= @bookings_form.players %>
          <% end %>
        </span>
      </li>
       <li>
        <%= @bookings_form.time_and_place %>
      </li>
      <%= f.hidden_field :court_id %>
      <%= f.hidden_field :date_from %>
      <%= f.hidden_field :time_from %>
      <%= f.hidden_field :time_to %>
      <% if allow? :users, :index %>
        <li>
          <%= f.label :opponent_name, "Opponent" %>
          <%= f.text_field :opponent_name, data: {autocomplete_source: users_path} %>
        </li>
      <% end %>
    <%= f.submit "Submit booking", class: "submit-55-right" %>
    </ul>

  </fieldset>
<% end %>