<%= form_for @booking, remote: remote  do |f| %>
	<fieldset>
		<legend><%= header %></legend>
		<ul>
			<li>
				<%= f.label :username, "Member" %>
				<span><%= current_user.full_name %></span>
			</li>
			<% if allow_param? :booking, :time_and_place %>
				<li>
					<%= f.label :time_and_place, "Court: #{@booking.court_number}" %>
					<span><%= @booking.time_and_place_text %></span>
				</li>
				<%= f.hidden_field :time_and_place, :value => @booking.time_and_place %>
			<% end %>
			<li>
				<%= f.label :opponent_id, "Opponent" %>
				<%= f.collection_select :opponent_id, User.without_user(current_user), :id, :full_name, include_blank: true %>
			</li>
		<%= f.submit "Submit booking" %>
		</ul>

	</fieldset>
<% end %>