<%= form_for @booking do |f| %>
	<fieldset>
		<legend><%= header %></legend>
		<ul>
			<li>
				<%= f.label :username, "Member" %>
				<span><%= current_user.username %></span>
			</li>
			<% if allow_param? :booking, :user_id %>
				<%= f.label :user_id, "Player" %>
				<%= f.collection_select :user_id, User.all, :id, :username, {:selected => current_user.id} %>
			<% end %>
			<% if allow_param? :booking, :time_and_place %>
				<li>
					<%= f.label :time_and_place, "Court: #{@booking.court_number}" %>
					<span><%= @booking.time_and_place_text %></span>
				</li>
				<%= f.hidden_field :time_and_place, :value => @booking.time_and_place %>
			<% end %>
			<% if allow_param? :booking, :court_number %>
				<li>
					<%= f.label :court_number, "Court number" %>
					<%= f.text_field :court_number %>
				</li>
			<% end %>
			<% if allow_param? :booking, :playing_on_text %>
				<li>
					<%= f.label :playing_on_text, "Playing on" %>
					<%= f.text_field :playing_on_text %>
				</li>
			<% end %>
			<% if allow_param? :booking, :playing_from %>
				<li>
					<%= f.label :playing_from, "Playing from" %>
					<%= f.text_field :playing_from %>
				</li>
			<% end %>
				<% if allow_param? :booking, :playing_to %>
				<li>
					<%= f.label :playing_to, "Playing to" %>
					<%= f.text_field :playing_to %>
				</li>
			<% end %>
			<li>
				<%= f.label :opponent_user_id, "Opponent" %>
				<%= f.collection_select :opponent_user_id, User.without_user(current_user), :id, :username, {:include_blank => ""} %>
			</li>
		<%= f.submit "Submit Booking" %>
		</ul>
	</fieldset>
<% end %>