<%= form_for @booking, remote: remote  do |f| %>
	<fieldset>
		<legend><%= header %></legend>
		<ul>
			<li>
				<%= f.label :username, "Member" %>
				<span><%= current_user.username %></span>
			</li>
			<% if allow_param? :booking, :time_and_place %>
				<li>
					<%= f.label :time_and_place, "Court: #{@booking.court_number}" %>
					<span><%= @booking.time_and_place_text %></span>
				</li>
				<%= f.hidden_field :time_and_place, :value => @booking.time_and_place %>
			<% end %>
			<li>
				<%= f.label :opponent_name, "Opponent" %>
				<%= f.autocomplete_field :opponent_name, autocomplete_user_username_bookings_path, :id_element => '#booking_opponent_id' %>
			</li>
			<%= f.hidden_field :opponent_id %>
		<%= f.submit "Submit booking" %>
		</ul>
		
	</fieldset>
<% end %>