<%# an if statement in a view. Needs to be refactored. Presenters are calling! %>
<%= form_for @booking, remote: remote  do |f| %>
	<fieldset>
		<legend><%= header %></legend>
		<ul>
			<li>
				<%= f.label :username, "Players" %>
				<span>
          <%if @booking.new_record? %>
            <%= current_user.full_name %>
          <% else %>
            <%= @booking.players %>
          <% end %>
        </span>
			</li>
			<li>
				<%= f.label :time_and_place, "Court: #{@booking.court.number}" %>
				<span><%= @booking.time_and_place_text %></span>
			</li>
			<%= f.hidden_field :time_and_place, :value => @booking.time_and_place %>
			<li>
				<%= f.label :opponent_name, "Opponent" %>
        <%= f.text_field :opponent_name, data: {autocomplete_source: users_path} %>
			</li>
		<%= f.submit "Submit booking" %>
		</ul>

	</fieldset>
<% end %>