<section id="bookings">
  <table class="standard-table">
    <caption>Bookings</caption>
    <tr>
      <th>Players</th>
      <th>Playing on</th>
      <th>From</th>
      <th>To</th>
      <th>Court Number</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <% bookings.each do |booking| %>
      <tr id="<%= dom_id(booking) %>">
        <td><%= booking.players %></td>
        <td><%= booking.date_from_text %></td>
        <td><%= booking.time_from %></td>
        <td><%= booking.time_to %></td>
        <td><%= booking.court.number %></td>
        <% if allow? :bookings, :edit, booking %>
          <td>
            <%= link_to "Edit", edit_booking_path(booking), remote: true %>
          </td>
          <td>
            <%= link_to "Delete", booking_path(booking), method: :delete, data: {confirm: "Are you sure?"} %>
          </td>
        <% else %>
          <td>&nbsp;</td><td>&nbsp;</td>
        <% end %>
      <tr>
    <% end %>
  </table>
</section>
<section id="ajax-booking" title="Booking" style="display:hidden">
</section>
