<section id="booking">
	<ul>
		<li>User id: <%= @booking.user_id %></li>
		<li>Court number: <%= @booking.court_number %></li>
		<li>Playing on: <%= @booking.playing_on_text %></li>
		<li>Playing from: <%= @booking.playing_from %></li>
		<li>Playing to: <%= @booking.playing_to %></li>
	</ul>
	<% if allow? :bookings, :destroy, @booking %>
    	<div><%= link_to "Delete Booking", booking_path(@booking), method: :delete %></div>
  	<% end %>
</section>