<section id="my-details" class="center-60 jazzy-form">
  <h2><%= header %></h2>
  <%= render "error_messages", target: @users_form %>
  <%= form_for(@users_form, as: :user, url: user_path(@users_form), method: :patch)  do |f| %>
    <fieldset>
      <%= render "user", f: f %>
      <ul class="submit"><li><%= f.submit "Submit user" %></li></ul>
    </fieldset>
  <% end %>
</section>