<article id="change-password" class="center-60 jazzy-form">
  <h2>Change your password</h2>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <fieldset>
      <legend>Change your password</legend>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <ul>
        <li>
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, :autofocus => true %>
        </li>
        <li>
         <%= f.label :password_confirmation, "Confirm new password" %>
         <%= f.password_field :password_confirmation %>
        </li>
        <li>
          <%= f.submit "Change my password" %>
        </li>
      </ul>
    </fieldset>
  <% end %>
  <%= render "devise/shared/links" %>
</article>
