<h2><%= @date.strftime('%d %b %Y')%></h2>
<%= calendar(@days_that_can_be_booked_in_advance, @date) do |date, day| %>
	<% if date == @date %>
		<%= day %>
	<% else %>
		<%= link_to day, courts_path(date) %>
	<% end %>
<% end %>
<%= booking_slots @courts, @timeslots do |slot| %>
<% end %>