<article id="manage-closures">
  <table class="admin-table">
    <caption>Court Closures</caption>
    <tr>
      <td colspan="9">
        <%= link_to "Add new closure", new_admin_closure_path %>
      </td>
    </tr>
    <tr>
      <th>id</th>
      <th>Reason</th>
      <th>Date from</th>
      <th>Date to</th>
      <th>Time from</th>
      <th>Time to</th>
      <th>Court Numbers</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>

    <% closures.each do |closure| %>
      <tr id="<%= dom_id(closure) %>">
        <td><%= closure.id %></td>
        <td><%= closure.description %></td>
        <td><%= closure.date_from %></td>
        <td><%= closure.date_to %></td>
        <td><%= closure.time_from %></td>
        <td><%= closure.time_to %></td>
        <td><%= closure.court_numbers %></td>
        <td><%= link_to "Edit", edit_admin_closure_path(closure) %></td>
        <td><%= link_to "Delete", admin_closure_path(closure), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </table>
</article>