<%= form_for @court, url: resource do |f| %>
  <fieldset>
    <legend><%= header %></legend>
    <ul>
      <li>
        <%= f.label :number, "Court number" %>
        <%= f.text_field :number %>
      </li>
      <%= render "court_times", f: f, court_times: :opening_times, objects: @court.opening_times %>
      <%= render "court_times", f: f, court_times: :peak_times, objects: @court.peak_times %>
      <li class="submit"><%= f.submit "Submit court" %></li>
    </ul>
  </fieldset>
<% end %>