<ul id="<%= id %>">
	<li>
		<%= f.label :day %>
		<%= f.collection_select :day, Date.days_of_week, :last, :first %>
	</li>
	<li>
		<%= f.label :time_from, "From" %>
		<%= f.select :time_from, Rails.configuration.slots %>
	</li>
	<li>
		<%= f.label :time_to, "To" %>
		<%= f.select :time_to, Rails.configuration.slots %>
	</li>
	<li>
		<a class='remove_fields' href='#'>Remove</a>
	</li>
</ul>