<ul id="<%= id %>">
	<li>
		<%= f.label :day %>
		<%= f.text_field :day %>
	</li>
	<li>
		<%= f.label :time_from, "From" %>
		<%= f.text_field :time_from %>
	</li>
	<li>
		<%= f.label :time_to, "To" %>
		<%= f.text_field :time_to %>
	</li>
</ul>