<article id="managecourts">
	<table class="admin-table">
		<caption>Manage Courts</caption>
		<tr>
			<td colspan="3"><%= link_to "Closures", admin_closures_path %> | <%= link_to "Add new court", new_admin_court_path %></td>
		</tr>
		<tr>
			<th>Court Number</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<% courts.each do |court| %>
			<tr id="<%= dom_id(court) %>">
				<td>
					<div class="text"><%= court.number %></div>
				</td>
				<td><%= link_to "Edit", edit_admin_court_path(court) %></td>
				<td><%= link_to "Delete", admin_court_path(court), method: :delete, data: {confirm: "Are you sure?"} %></td>
			</tr>
		<% end %>
	</table>
</article>