<article id="manageusers">
	<table class="admintable">
		<caption>Manage Users</caption>
		<tr>
			<td colspan="6"><%= link_to "Add new user", new_admin_user_path %></td>
		</tr>
		<tr>
			<th>id</th>
			<th>Username</th>
      <th>Full Name</th>
			<th>Email</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		<% users.each do |user| %>
			<tr id="<%= dom_id(user) %>">
				<td><%= user.id %></td>
				<td><%= user.username %></td>
        <td><%= user.full_name %></td>
				<td><%= user.email %></td>
				<td><%= link_to "Edit", edit_admin_user_path(user) %></td>
				<td><%= link_to "Delete", admin_user_path(user), method: :delete, data: {confirm: "Are you sure?"} %></td>
			</tr>
		<% end%>
	</table>
</article>