<nav id="nav">
	<ul>
		<li><%= link_to "BOOKINGS", new_booking_path %></li>
		<li><%= link_to "COURTS", courts_path %></li>
	<% if allow? "admin", "index" %>
		<li><%= link_to "ADMIN", admin_path %></li>
	<% end %>
	<% if user_signed_in? %>
		<li><%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %></li></ul>
		<div class="username">Signed in as: <%= current_user.username %></div>
	<% else%>
		<li><%= link_to "SIGN IN", new_user_session_path %></li></ul>
	<% end %>
</nav>