<%#= slots view %>
<%= booking_slots(current_date, courts, slots) do |court, slots| %>
	<%= get_booking(bookings, court, slots) do |booking| %>
		<%if booking.in_the_past? %>
			<div class="past"><%= booking.players %></div>
		<% else %>
			<% if booking.id.nil? %>
				<%= new_booking_link booking %>
			<% else %>
				<% if allow? :bookings, :edit, booking %>
					<%= link_to booking.players, edit_booking_path(booking), remote: true, class: "booked"  %>
				<% else %>
					<div class="booked"><%= booking.players %></div>
				<% end %>
			<% end%>
		<% end%>
	<% end %>
<% end %>
<section id="ajaxbooking" title="Booking" style="display:hidden">
</section>
