<%= form_for @admin_closure_form, url: resource do |f| %>
	<fieldset>
		<legend><%= header %></legend>
		<ul>
			<li >
				<%= f.label :description, "Reason" %>
				<%= f.text_area :description %>
			</li>
			<li>
				<%= f.label :date_from, "Date from" %>
				<%= f.date_field :date_from %>
			</li>
			<li>
				<%= f.label :date_to, "Date to" %>
				<%= f.date_field :date_to %>
			</li>
			<li>
				<%= f.label :time_from, "Time from" %>
				<%= f.select :time_from, list_of_slots %>
			</li>
			<li>
				<%= f.label :time_to, "Time to" %>
				<%= f.select :time_to, list_of_slots %>
			</li>
      <li>
        <%= f.label :allow_removal, "allow removal of overlapping bookings/closures/events" %>
        <%= f.check_box :allow_removal %>
      </li>
		</ul>
		<%= render "courts", f: f, object: @admin_closure_form %>
		<ul class="submit"><li><%= f.submit "Submit closure" %></li></ul>
	</fieldset>
<% end %>