<!DOCTYPE html>
<html>
<head>
  <title>Courtbooking</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="nav">
		<% if user_signed_in? %>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<div>Signed in as: <%= current_user.username %></div>
		<% end %>
	</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
</body>
</html>
