<!DOCTYPE html>
<html>
<head>
  <title>Stamford Squash Club Courtbooking</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= render "header" %>
    <div id="body">
      <%= render "flashes" %>
      <%= yield %>
    </div>
    <%= render "footer" %>
  </div>
</body>
</html>
