<!DOCTYPE html>
<html>
<head>
  <title>Courtbooking</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<%= render "header" %>
		<div id="body">
			<%= render "flashes" %>
			<%= yield %>
		</div>
		<%= render "footer" %>
	</div>
</body>
</html>
